{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Produit: {{ product.name }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ product.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{% if product.user %}{{ product.user.email }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ product.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{{ product.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    {% if product.user is null and app.user.isActive and app.user.points >= product.price %}
        <form method="post" action="{{ path('app_product_buy', {id: product.id}) }}" onsubmit="return confirm('Confirmer l\'achat ?');">
            <button class="btn btn-success">Acheter pour {{ product.price }} points</button>
        </form>
    {% elseif app.user.points < product.price %}
        <p><strong>Vous n'avez pas assez de points pour acheter cet article</strong></p>
    {% elseif not app.user.isActive %}
        <p><strong>User inactif, vous ne pouvez pas acheter de produit</strong></p>
    {% elseif product.user is not null %}
        <p><strong>Ce produit a déjà été acheté.</strong></p>
    {% endif %}

    <p>
        <a href="{{ path('app_products_list') }}" class="btn btn-secondary">Retour à la liste</a>
    </p>
</div>
{% endblock %}
